.container {
  min-height: 100vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0000BB;
}

.title a {
  color: #0000BB;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: left;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  max-width: 80%;
  margin-top: 3rem;
  box-sizing: border-box;
  position: relative;
}

.card {
  width: 32%;
  padding: 1%;
  margin: 5px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-sizing: border-box;
}

.card:hover,
.card:focus,
.card:active {
  color: #0000BB;
  border-color: #0000BB;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
}

.card p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  background: #0000000F;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 20px;
  color: #000;
}
.card .completed{
  background: #5588FF4F;
}

.logo {
  height: 1em;
}


.botton{
  background: #0000BB;
  color: #FFF;
  padding: 15px 30px;
  border: none;
  border-radius: 3px;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 20px auto 10px auto;
}
.botton:hover{
  background: #000;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
